
body {
}

.page-container {
    display: flex;
    flex-direction: column;
}
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    color: darkgoldenrod;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2vh;
}

.main {
    display: flex;
    margin-top: 5vh;
    width: 100vw;
    height: 95vh;
    background-color: midnightblue;

}

.left-section {
    width: 70%;
    color: bisque;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-bar {
    color: aqua;
    border-left: 5px solid blue;
    padding-left: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.right-bar hr {
    width: 80%;
    border-color: cornflowerblue;
    margin-bottom: 2vh;
}
.table {
    color: bisque;

}
